.about {
  //   display: block;
  margin: auto;
  width: 70%;
  .title {
    font-weight: bold;
    font-style: italic;
    font-size: 5vh;
    margin-bottom: 30px;
  }
  .content {
    font-size: 2.5vh;
    padding-right: 100px;
    p {
      color: rgb(65, 64, 64);
      margin-bottom: 2em;
      &:last-child {
        padding-top: 10px;
      }
    }
    span {
      font-style: italic;
      font-size: 3.5vh;
      // color: black;
      font-weight: bold;
    }
  }
}
