* {
  margin: 0;
  padding: 0;
}
html {
  overflow: hidden;
  height: 100%;
}

body {
  height: 100%;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: auto;
}

#root {
  display: grid;
  height: 100vh;
}

a {
  cursor: pointer;
}

@import "./NavBar.scss";
@import "./Quote.scss";
@import "./Footer.scss";
@import "./About.scss";

@keyframes rotate {
  from {
    transfrom: rotate(0deg);
  }

  25% {
    fill: #dbce5a;
  }

  50% {
    fill: #b34a4a;
  }

  75% {
    fill: orange;
  }

  to {
    transform: rotate(720deg);
    fill: rgb(90, 142, 219);
  }
}
